@charset "ISO-8859-1";

* {
  box-sizing: border-box;
}

body,
html {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  height: 100vh;
  font-family: montserrat, "Playfair Display", Roboto, "Open Sans",
    "Proxima Nova", sans-serif, Helvetica, Arial;
}

body {
  background-color: black;
  color: white;
  padding: 0;
}

.chatapp-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.toppane {
  width: 100%;
  border-collapse: collapse;
  /* background-color: #3e3e3e; */
  /* margin: 1px;
  padding: 5px; */
  background-color: black;
}

#logout-button {
  cursor: pointer;
}

#username {
  padding: 2px;
  font-weight: bold;
  margin-left: 10px;
  font-size: 1.5em;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px 1px #007bff;
  box-shadow: 0px 0px 5px 1px #007bff;
}

#username:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 1px #ffffff;
  box-shadow: 0px 0px 5px 1px #ffffff;
}

.leftpane {
  width: 20%;
  height: 90%;
  background-color: #3e3e3e;
  border-collapse: collapse;
  margin: 1px;
  padding: 2px;
  border: 8px ridge #007bff;
  border-radius: 5px;
  resize: horizontal;
  overflow: auto;
}

.middlepane {
  width: 80%;
  height: 90%;
  background-color: #3e3e3e;
  border-collapse: collapse;
  margin-left: 1px;
  padding: 0;
}

#online-users-title {
  padding: 2px;
  margin: 2px;
  padding-left: 5px;
}

#offline-users-title {
  padding: 2px;
  margin: 2px;
  padding-left: 5px;
}

#online-users-list {
  padding: 2px;
  margin: 2px;
  padding-left: 5px;
}

#offline-users-list {
  padding: 2px;
  margin: 2px;
  padding-left: 5px;
}

#online-user::before {
  content: "\2022";
  color: green;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 1em;
}

#offline-user::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 1em;
}

#messages {
  height: 100%;
  background-color: #1f201b;
  border: 8px ridge #007bff;
  border-radius: 5px;
  color: black;
  overflow-y: scroll;
  margin-bottom: 1px;
  padding: 10px;
}

#message-send {
  margin-top: 1px;
  width: 100%;
  height: 20%;
  border: 8px ridge #007bff;
  border-radius: 5px;
}

#message {
  width: 80%;
  height: 100%;
  margin: 1px;
  /*float: left;*/
  display: inline;
}

#message textarea {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  resize: none;
  padding: 10px;
}

.emojionearea {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  resize: none;
  padding: 10px;
}

#send {
  width: 20%;
  height: 100%;
  /*margin-left: 80%;*/
}

#send #send-button {
  margin: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

#send #send-button:hover {
  background-color: #007bff;
}

#online-user:hover,
#offline-user:hover {
  cursor: pointer;
}

#users-list {
  height: 80%;
  overflow-y: auto;
  padding: 1px;
}

.online {
  color: green;
}

.offline {
  color: lightgrey;
}

.focus {
  -webkit-box-shadow: 0px 0px 5px 1px #007bff;
  box-shadow: 0px 0px 5px 1px #007bff;
}

.user {
  display: inline-block;
  border: 1px solid #ccc;
  background: #3e3e3e;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  width: 100%;
  padding: 5px;
  margin-bottom: 1px;
  text-align: center;
}

.user:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 1px #007bff;
  box-shadow: 0px 0px 5px 1px #007bff;
}

#messages #messages-list {
  list-style: none;
  list-style-type: none;
  padding: 5px;
  margin-bottom: 5px;
}

#messages #messages-list li {
  border-radius: 10px;
  max-width: 70%;
  min-height: 20px;
  min-width: 20px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
  margin-bottom: 2px;
  clear: both;
}

.welcome {
  color: white;
}

.recipientMessage {
  text-align: left;
  margin-left: 2px;
  background-color: #e9e8eb;
  color: black;
  float: left;
  clear: left;
}

.senderMessage {
  text-align: left;
  margin-right: 2px;
  background-color: #0a80fe;
  color: white;
  float: right;
  clear: right;
}

.new-message {
  background: orange !important;
}

.send-error {
  text-align: right;
  margin-right: 2px;
  color: red;
}

.flex-container-main {
  display: flex;
  flex-wrap: nowrap;
  height: 80%;
}

.flex-container-message-send {
  display: flex;
  flex-wrap: nowrap;
}

#search-user-container {
  width: 100%;
  margin-bottom: 5px;
}

#form-search-user input[type="text"] {
  border: none;
  margin-left: 0;
  flex-wrap: nowrap;
  height: 30px;
}

#remove-icon {
  background: #007bff;
  color: white;
  text-align: center;
  padding: 5px;
}

#remove-icon:hover {
  cursor: pointer;
}

.warning {
  background: #f8d7da;
  color: #b67b81;
}

.login-error {
  margin-top: 5px;
}

#exclamation-icon {
  background: #f8d7da;
  color: #b67b81;
}

#status {
  padding: 0;
}

#status-online {
  background-color: #d4edda;
}

#status-away {
  background-color: #fff3cd;
}

#status-busy {
  background-color: #f8d7da;
}

#status-online:hover {
  background-color: #00d432;
}

#status-away:hover {
  background-color: #ffbf00;
}

#status-busy:hover {
  background-color: #ff0019d5;
}

#logout-button {
  background-color: transparent;
}
