<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ChatApp</title>
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
            crossorigin="anonymous">
    <link
            href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
            rel="stylesheet" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/chatapp.css">
</head>
<style>
</style>
<body>

<div class="chatapp-container">
<!--    <div class="toppane">-->
<!--        <form method="get" th:action="@{/logout}">-->
<!--            &lt;!&ndash;input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/&ndash;&gt;-->
<!--            <span class="username">[[${#httpServletRequest.remoteUser}]]</span>-->
<!--            <button class="btn btn-sm btn-primary float-r" type="submit">Logout</button>-->
<!--        </form>-->
<!--    </div>-->

    <div class="leftpane">
        <div id="online-users-title">Users</div>
        <div id="online-users">
            <form th:action="@{/chatapp/conversations/{username}(username=${user.username})}"
                  method="GET"
                  th:each="user: ${onlineusers}">
                <button type="submit" th:text="${user.username}" class="user online"></button>
            </form>

        </div>

        <div id="offline-users">
            <form th:action="@{/chatapp/conversations/{username}(username=${user.username})}"
                  th:each="user: ${offlineusers}">
                <button type="submit" th:text="${user.username}" class="user offline"></button>
            </form>

        </div>
    </div>

    <div class="middlepane">
        <div id="messages">
            <ul th:each="message : ${conversation}" id="messages-list">
                <li th:utext="${message.text}"></li>
            </ul>
            <ul th:if="${lastMessageSent != null}">
                <li th:utext="${lastMessageSent}"></li>
            </ul>
        </div>

        <div id="message-send">
            <form id="send-message-form" method="POST"
                  th:action="@{/chatapp/sendMessage}"></form>
            <div id="message" name="message">
                <textarea placeholder="Message..." id="sentmessage"
                          th:object="${text}" name="text" form="send-message-form" autofocus></textarea>
            </div>
            <div id="send">
                <button id="send-button" type="submit" name="send" form="send-message-form"
                        >Send</button>
            </div>
        </div>

    </div>

</div>
</body>
</html>