<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Register with ChatApp</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" type="text/css" href="/css/register.css" />

</head>

</style>

<body>
    <div class="container">
        <form class="form-signin" th:object="${user}" method="POST" th:action="@{/register}">
            <h2 class="form-signin-heading">Register with ChatApp</h2>
            <div class="input-group">
                <label for="firstName" class="sr-only">First Name</label> <input type="text" th:field="*{firstName}"
                    id="firstName" name="firstName" class="form-control" placeholder="First Name" required autofocus>
            </div>
            <div class="input-group">
                <label for="lastName" class="sr-only">Last Name</label> <input type="text" th:field="*{lastName}"
                    id="lastName" name="lastName" class="form-control" placeholder="Last Name" required>
            </div>
            <div class="input-group margin-bottom-sm">
                <i class="fa fa-user fa-fw"></i>
                <input class="form-control" id="username" name="username" type="text" placeholder="Username"
                    th:field="*{username}" required />
            </div>
            <p th:if="${error}" class="taken-error"><i id="exclamation-icon" class="fa fa-exclamation-triangle"></i>
                Username is taken.</p>
            <div class="input-group">
                <i class="fa fa-envelope"></i>
                <input class="form-control" id="email" name="email" type="email" th:field="*{email}"
                    placeholder="E-mail" required />
            </div>
            <div class="input-group">
                <i class="fa fa-key fa-fw"></i>
                <input class="form-control" id="password" name="password" type="password" placeholder="Password"
                    th:field="*{password}" required />
            </div>
            <p>
                <input type="checkbox" id="accept-agreements" name="accept-aggreements">
                <label for="accept-agreements">Accept user agreements</label>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>
</body>

</html>